.dialog {
    min-height: 100%;
    font-size: .64rem;
    .dialog-overlayer {
        position: fixed;
        top:0rem;
        right: 0rem;
        left: 0rem;
        bottom: 0rem;
        min-height: 100%;
        height: 100%;
        width: 100%;
        zIndex: 99999;
        background: rgba(0,0,0,.7);
        .dialog-box {
            width: 10rem;
            min-height: 6rem;
            margin: 10rem auto 0;
            background: #f8f8f8;
            border-radius: .5rem;
            .dialog-head {
                position: relative;
                font-size: 1.8rem;
                font-weight: 700;
                padding: .3rem .2rem .1rem .2rem;
                .dialog-close {
                    position: absolute;
                    display: block;
                    top: .08rem;
                    right: .08rem;
                    width: .48rem;
                    line-height: .48rem;
                    text-align: center;
                    font-size: .6rem;
                    color: #333;
                    text-shadow: 0 1px 0 #fff;
                    opacity: .2;
                    transition: all .3s;
                }
            }
        }
    }
}


