/**
* @Author: zhao lei <leozhao>
* @Date:   2016-05-24T15:24:41+08:00
* @Email:  leozhao.go@gmail.com
* @Last modified by:   leozhao
* @Last modified time: 2016-05-27T17:51:43+08:00
*/

// timepicker stylesheet
.timepicker {
  border-top: 1px solid #ebebeb;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 224px;
  background-color: #fff;
  transition: 0.5s transform ease;
  .optionPicker {
    width: 100%;
    height: 100%;
    overflow: hidden;
    ul {
      width: 50%;
      float: left;
      transition: 0.3s transform ease;
      li {
        &.beside{
          font-size: 18px;
          transform: rotateX(20deg);
        }
        &.behind{
          font-size: 14px;
          transform: rotateX(30deg);
        }
        transform: rotateX(40deg);
        color: #aaa;
        font-size: 12px;
        line-height: 32px;
        text-align: center;
        transition: 0.3s ease;
      }
    }
  }
  .maskPicker {
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    background-image: -webkit-linear-gradient( rgba(255,255,255,1) 2%, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0) 90%, rgba(255,255,255,1) 98%);
  }
  .currentPicker {
    width: 100%;
    height: 32px;
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
    margin:auto;
    overflow: hidden;
    border-top: 1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    background-color: #fff;
    .hourMark {
      position: absolute;
      left: 25%;
      font-size: 16px;
      line-height: 32px;
      margin-left: 20px;
      color: #aaaaaa;
    }
    .minuteMark {
      position: absolute;
      left: 75%;
      font-size: 16px;
      line-height: 32px;
      margin-left: 20px;
      color: #aaaaaa;
    }
    ul {
      width: 50%;
      float: left;
      transition: 0.3s transform ease;
      li {
        color: #333;
        line-height: 32px;
        height: 32px;
        font-size: 24px;
        font-weight: bold;
        opacity: 1;
        text-align: center;
      }
    }
  }
  .button {
    position: absolute;
    top: -30px;
    right: 15px;
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: #54b75a;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 4px 4px 0 0;
  }
}
