*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
}
body {
    font-size: 14px;
}
img {
    border: none;
    vertical-align: top;
}
ul,li,ol {
    list-style: none;
}
input {
    width: 100px;
    padding: 2px 3px;
    line-height: 22px;
    height: 22px;
    font-size: 14px;
    border: 1px solid #333;
}

em {
    font-style: normal;
}
a {
    text-decoration: none;
}
.button {
    display: inline-block;
    margin: 0 5px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
    padding: 0 10px;
    text-align: center;
    background: #ccc;
    color: #333;
    
}