#user-main {
    padding: 20px;
    .btn-add {
        color: #fff;
        background: orange;
    }
    .btn-back {
        display: none;
        color: #fff;
        background: gray;
    }
    .btn-confirm {
        display: none;
        color: #fff;
        background: green;
    }
}